/* FORMULÁRIO DE DENÚNCIA */
.container{
    max-width: 700px;
    margin: 40px auto;
    background-color: white;
    padding: 27px;
    border-radius: 35px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.formulario h2{
    text-align: center;
    margin-bottom: 25px;
    color: #00111f;
}

.grupo{
    border: none;
}

.formulario label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.formulario input,
.formulario select,
.formulario textarea{
    width: 100%;
    padding: 16px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
}

.formulario textarea{
    resize: none;
}

.formulario button{
    background-color: #00c853;
    color: #00111f;
    border: none;
    padding: 14px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.formulario button:hover{
    background-color: #00a844;
    color: white;
}

.formulario_border{
    box-shadow: #503804;
}
