.hero-home{
    background-image: url("../IMG/banner-home.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

.bem-vindo h2{
    color: white;
    font-size: 36px;
}

.bem-vindo p{
    color: white;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0;
    
}

.texto-do-lado {
    width: 80%;
    padding: 20px;
    background-color: #1e425c;
    color: #f2f2f3;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(5, 8, 0, 0.582);
    margin-left: 0;
    margin-top: 50px;
}

.mapa {
    margin-top: 90px;
    max-width: 1000px;
    margin: 30px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(57, 63, 3, 0.459);
}
